* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    height: 40px;
    background-color: #f2f2f2;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
}